body {
  background:#B7D1ED;
  color:#2C5079;
  background-image: url("../img/dolar.svg");
  background-size: 200px;
}
h3 {
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px;
	margin-bottom: 0;
	color: #7D775C;
	}
